
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;margin:0px auto;}
.tg td{font-family:'Lato', sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:'Lato', sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;text-align:left;}

#pages-content {
	margin-top: 8em;
}

.accordion dd.active a {
  background: #0e5a6f;
  color: #ffffff;

}


.accordion dd > a {
	background-color: #187993;
	color: #f5f6f7;
	border-radius: 6px;
}

.accordion dd > a:hover {
	color: #ffffff;
	background-color: #FBB169;
}

.eventCards-links {
	.eventCards {
		text-align: center;
	background-color: #ffffff;
	border-radius: 6px;
	border-top-left-radius: 0;
	border-top-right-radius: 0; 
 	 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	color: #333333;
	font-size: 0.8rem;
	padding: 0.4rem;
	min-height: 200px;
	p {
		font-size: 0.8rem;
		text-align: left;
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	}
	img {
		margin-bottom: 0.8rem;
	}

}

	.timeDate {
		text-align: center;
	background-color: #f5f6f7;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
 	 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	color: #333333;
	font-size: 0.8rem;
	padding: 0.8rem 0.4rem;
	}
}


.eventCards-links:hover {
	.eventCards {

	background-color: #f5f6f7;

	}

	.timeDate {

	background-color: #FBB169;
	color: #ffffff;
	}
}
.accordion .content.active {
	
	background-color: #E9E9E9;
		border-radius: 6px;

}

.accordion .content {
	padding: 2rem;
		border-radius: 6px;

}

header {
	height: 450px;
	background: url(../images/pages/property_searches/property_searches_hero_image.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
#testTable {
	background-color: transparent;
	border: none;
}
#integration-selected {
	background: url(../images/pages/integration/integration_image.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}

#pages-hero-text {
	padding-top: 60px;
	h1 {
		color: #10718b;
		font-weight: 300;
		line-height: 3rem;
	}
}
.is-sticky {
	#breadcrumbs-section {
	margin-top: 0 !important;
	z-index: 90;
}
}
#breadcrumbs-section {
	margin-top: 100px;
	background-color: #187993;
}
.breadcrumbs {
	background-color: #0e5a6f;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}
.each-section {
	min-height: 350px;
	padding: 35px 20px;
	border-bottom: #dbdbdb solid thin; 
}
.bigCTA {
	text-align: center;
	text-transform: uppercase;
	background-color: #333333;
	color: #fff;
	font-weight: 300;
	width: 100%;
}
.each-section.CTA {
	text-align: center;
	min-height: 100px;
	padding: 35px 20px;
	background-color: #187993;
	h3 {
		text-align: center;
		color: #ffffff;
		margin-bottom: 15px;
	}
}

.pages-title-image {
	min-height: 200x;
	text-align: center;
	img {
		margin-bottom: 50px;
		margin-top: 50px;
	}
}
.pages-body-content, .pages-title-image {
	h2, h3 {
		font-weight: 300;
		margin-bottom: 0;
		text-align: left;
	}
	p{
		text-align: left;
	}
	h2 {
		color: #1586a5;
		margin-bottom: 15px;
	}
	h3 {
		color: #9f9f9f;
		margin-top: -10px;
	}
}
#selected-body-section {
	background: url(../images/pages/property_searches/fullwidth-lower-bg.png) no-repeat bottom center;

}	
#selected-body-section-events {
	background: url(../images/pages/property_searches/fullwidth-lower-bg.png) no-repeat bottom center;
	background-color: #eaf3fa;

}
.block-system {
	h2 {
		text-align: center;
		font-weight: 300;
		color: #0796b7;
	}
	p {
		text-align: center;
	}
}
#blocks {
	li {
		h6 {
			font-weight: bold;	
			margin-top: 10px;		
			color: #27608d;
		}
		p {
			font-size: 0.8rem;
			text-align: left;
		}
	}
}
.pages {
	a {
		display: block;
		padding: 8px 8px;
	}
	a:not(.button):before {
		content: "> ";
	}
	a:hover {
		background-color: #f5f6f7;
	}
	#REVEALPromo:before {
		content: "" !important;

	}
}
.pages.small-section {
	margin-bottom: 15px;
}
.featureItems {
	text-align:center;
	h5 {
		text-transform:uppercase;
		color:#006;
	}
	img {
		  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
	}
}

.featureItems {
	img:hover {
		cursor: pointer;
      -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
       transform: rotateY(180deg);
}
}
select.startSearchingSelect {
	height: 12rem;
	width: 100%;
}
#integrationBlocks {
	li {
		a {
			img {
				width: 150px;
				height: 150px;

			}
		}
	}
}
#allIndustriesBlocks {
	li {
		text-align: center;
		P {
			text-align: center;
			font-size: 0.8rem;
			background-color: #f5f6f7;
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}
}
.date {
background: #fbb100;;
color: #fff;
padding: 5px 10px;
display: inline-block;
margin-bottom: 10px;
border-radius: 4px;
}
.post {
border-bottom: 1px solid #ccc;
margin-bottom: 10px;
a {
	display: block;
	margin-bottom: 10px;
	margin-top: 4px;
}

}
#eventscenter {
	padding-top: 30px;

	-webkit-box-shadow:  0 9px 0px 0px white, 0 -9px 0px 0px white, inset 12px 0 15px -4px rgba(25, 25, 25, 0.4),inset  -12px 0 15px -4px rgba(25, 25, 25, 0.4);
-moz-box-shadow:   0 9px 0px 0px white, 0 -9px 0px 0px white,inset  12px 0 15px -4px rgba(25, 25, 25, 0.4), inset -12px 0 15px -4px rgba(25, 25, 25, 0.4);
   box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,inset  12px 0 15px -4px rgba(25, 25, 25, 0.4),inset  -12px 0 15px -4px rgba(25, 25, 25, 0.4);
}
.timeline_title {
color: #fbb169;
font-size: 18px!important;
margin: 0;
font-weight: normal;
}
.thumbnail {
	margin-bottom: 15px;

  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 7px 11px -7px rgba(50, 50, 50, 0.57);
-moz-box-shadow:    0px 7px 11px -7px rgba(50, 50, 50, 0.57);
box-shadow:         0px 7px 11px -7px rgba(50, 50, 50, 0.57);

}
.thumbnail:hover {
-webkit-box-shadow: 0px 15px 11px -7px rgba(50, 50, 50, 0.57);
-moz-box-shadow:    0px 15px 11px -7px rgba(50, 50, 50, 0.57);
box-shadow:         0px 15px 11px -7px rgba(50, 50, 50, 0.57);

}
.leadership {
	p {
		font-size: 0.8rem;
	}
	img {
		margin-bottom: 15px;
	}
	h6 {
		color: #0e5a6f;
		margin-bottom: 0.1rem;
	}
	span {
		display: block;
		font-size: 0.7rem;
		margin-bottom: 0.4rem;
	}
}

@media (max-width: 640px) {
	#pages-hero-text {
		padding-top: 10px;
		h1 {
			color: #10718b;
			font-weight: 300;
			line-height: 2.5rem;
			text-align: center;
			font-weight: 500;

		}
	}
	#first {
		margin-top: 80px;
	}
}