body, h1, h2, h3, h4,h5, p, div, li, ul, a, span {
	font-family:'lato',sans-serif;
}
#bookoftestimonials {
	background: url(../images/book1.jpg) no-repeat;
	background-size: cover;
	background-position: center;


}
.loginFormLables {
	input {
		margin-top: 10px;
	}
	color: #FFF;
}


#login-Tab-bar {
	right: 4.0625rem;
}
#loginDropdown {
	border: #fbb100 solid 2px;
}
.middle.tab-bar-section {
	text-align: left;
}
#Username {
	margin-bottom: 15px;
}
.SEOContent {
	text-align: center;
	li {
		p {
			font-size: 0.7rem;
			line-height: 1rem;
		}
	}
}
#InvalidLogin2 {

		text-align: center;
	display: block;
	visibility: hidden;
	background-color: #f00 !important;
	padding: 4px 6px;
	margin-top: -0.8rem;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	color: #ffffff;


}
#myModal {
	form {
		margin-top: 30px;
	}
}
#floatdiv {
position: fixed;
width: 260px;
z-index: 120;
	background-color: rgba(25,25,25,0.6);
padding: 30px 15px;
right: 20px;
color: #FFF;
height: 18em;
border-radius: 8px;
margin-top: 140px;
button {
	margin-top: -0.3rem;
}

#InvalidLogin {
	text-align: center;
	display: block;
	background-color: #f00;
	padding: 4px 6px;
	margin-top: -0.8rem;
	margin-bottom: 0.5rem;
	visibility: hidden;
	font-size: 0.8rem;
}


}
.top-bar-section {
	.nav-level-1 > a {
		 -moz-transition: .2s ease-in;
		 -o-transition: .2s ease-in;
		 -webkit-transition: .2s ease-in;
		 transition: .2s ease-in;
	}
	.nav-level-1 > a:hover {
		color:#FFF;
		padding: 0 18.33333px;
		font-size:16px;
	}
	.nav-level-1:hover  {
		background-color:#1d96b7;
		a {
			color:#FFF;
				padding:0 35px 0 10px !important;
		font-size:16px;
		}
	}
	.dropdown {
		label {
			padding-left:0 ;
		}

		fieldset {
			border:none;
			padding-top:0;
			.passwordLabel {
				margin-top:14px;
			}
		}
	}


}

#copyRight2 {
	padding: 20px 20px;

	p {
		color: #ccc;
	margin-bottom: 0;
	font-size: 13px;

}

}
#skrollr-body {

		height:100%;
		position:relative;
	
}
	.skrollr-desktop body {
		height:100% !important;
		width: 100% !important;
		overflow-x: hidden;
	}

.th {
	box-shadow: none;
	border:none;
	text-align: center;


	img {
					-moz-transition: .1s ease-in;
			-o-transition: .1s ease-in;
			-webkit-transition: .1s ease-in;
			transition: .1s ease-in;	
	    -webkit-filter: blur(3px); 


}
	P {
		font-size: 0.93rem;
		line-height: 1.2rem;
	}
}





.th:hover {
	box-shadow: none;
	background-color: rgba(255,255,255,0.5);
	border-radius: 8px;

	img {
    -webkit-filter: blur(0px); 
	}


}
.right {
	li {
		a {
			-moz-transition: .2s ease-in;
			-o-transition: .2s ease-in;
			-webkit-transition: .2s ease-in;
			transition: .2s ease-in;		
		}
		a:hover {
			background-color: #fff ;
			color: #333333 ;
		}
	}
	li:hover {
		background-color:#ffffff !important ;
		a {
			background-color:#ffffff ;
		}
	}
	.dropdown {
		box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.18);
		width: 20em !important;
		background-color: #fff !important;
		padding-left: 20px;
		padding-right: 20px;

	}
	.login {
		line-height:20px;
		background-color: #1d96b7 !important;
		margin-top:15px !important;
	}
	.login:hover {
		background-color: #187690 !important;
		color: #fff;
	}
}
.newsAndEvents {
	padding-top:80px;
	padding-bottom: 80px;
	background-color: #f3fcff;

	h2 {
		display: inline-block;
	}


}
	#buttonAll {
		margin-bottom: 0 !important;
		margin-top: 15px;

	}

.integ {
	background: url(../images/index/noChameleon.jpg) no-repeat;
	background-size: cover;
	#chameleon {
			height:auto;
			z-index: -10 !important;
			width:100% !important;
		
	}

}

.bodyContent {
    -webkit-columns:  2; /* Chrome, Safari, Opera */
    -moz-columns:  2;/* Firefox */
    columns: 2; 
    p {

    	font-size: 0.9rempx;
    }

    #bodyList {
    	li {
    		    	font-size: 0.9rem !important;

    	}
    }
}
.bodyText {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f5f6f7 !important;
	background: url(../images/index/australia-map.png) no-repeat;
	background-size: contain;
	background-position: center center;
	min-height:450px;
	margin-top: 5rem;
	border-bottom: #ccc solid thin;
-webkit-box-shadow: inset 0px 4px 10px -5px rgba(50, 50, 50, 0.39);
-moz-box-shadow:    inset 0px 4px 10px -5px rgba(50, 50, 50, 0.39);
box-shadow:         inset 0px 4px 10px -5px rgba(50, 50, 50, 0.39);

}

	#news-tiny-more {
		position: absolute;
		right: 0;
		bottom: -20px;
	}

.newsItems {
	h3, h5 {
		color: #0796b7;
	}

	
		position: relative;
		background-color: #fff;
		min-height:150px;
		padding:10px 30px;
		margin-bottom: 30px;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
		
				 -moz-transition: .2s ease-in;
		 -o-transition: .2s ease-in;
		 -webkit-transition: .2s ease-in;
		 transition: .2s ease-in;
}


.linkItems {
		 position: relative;
		 line-height: 1rem;
		color: #000;
		background-color: #fff;
		min-height:50px;
		padding:10px 30px 0px 30px;
		margin-bottom: 15px;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
				 -moz-transition: .2s ease-in;
		 -o-transition: .2s ease-in;
		 -webkit-transition: .2s ease-in;
		 transition: .2s ease-in;
		border-radius: 8px;

	a {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -17px;
	}
	h5 {
		font-size: 1.1rem;
		display: inline-block;
		padding-right: 50px;
	}

}
.newsItems:hover {
		cursor: pointer;
		background-color: #f5f6f7;
		-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
}

.linkItems:hover {
		cursor: pointer;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.newsItems.mediumLevel{
	p {
		font-size:0.9rem;
	}
}




#eventItems {
	h4 {
		margin-top: 30px;
		font-size: 1.2rem !important ;
		font-weight: bold;
	}

}
.eventItems-event-page {
	h4 {
		margin-top: 30px;
		font-size: 1.2rem !important ;
		font-weight: bold;
	}
}


#mouseScroll {
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -11px;
	z-index: 160;

}
#ieText {
	position: fixed;
	bottom: 60px !important;
	padding:20px 30px;
	color: #ff0000;
	text-align:center;
	z-index:100;
	display: compact;
	width: 48rem;

	h1 {
		text-align: center;
		font-size: 3rem;
		text-align: center;
		font-weight: 300;
		background-color: rgba(255,255,255,0.4);
		padding: 4px 25px;
		border-radius: 4px;
	}
}

#ieScroll {
	position: fixed;
	bottom: 140px !important;
	padding:20px 30px;
	color: #ff0000;
	text-align:center;
	z-index:100;
	left: 50%;
	margin-left: -200px;

}

.unu, .doi, .trei
{
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 6px;
}

.unu
{
  margin-top: 6px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}




.mouse
{
height: 32px;
width: 22px;
  border-radius: 10px;
  transform: none;
  border: 2px solid black;
  top: 170px;
  background-color: #e4e4e4;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: black;
  position: relative;
}

.wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

// Mouse Scroll 

#widgets {
	h1 {
		font-size: 3rem;
		text-align: center;
		font-weight: 300;
	}
}

.owl {
	#owlBird {
		margin-bottom:40px;
	}
	padding-top:30px;
	padding-bottom:120px;
	border-bottom: #cdcdcd solid thin;
	
	
}
#pexaText {
	span {
		font-size: 1.2rem;
		display: block;
		margin-bottom: 20px;
	}
}


.services-section {
	padding-top:90px;
	padding-bottom:90px;
	background-color: #267286;
}

.testimonialItems {

	p {
		font-size: 0.8rem;
		text-align: left;
	}
	span {
		display: block;
		text-align: left;
		margin-bottom:20px;
	}
	padding:30px 40px;
	text-align: left;
	background-color: #ffffff;
	min-height:435px;
}
#lastPage {
	padding-left:40%;
}


#flipbook {
	left: 50%;
	margin-left: -450px;
}

.testimonial-mobile {
	background-color: #1d96b7;
	h2 {
		color:#ffffff;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}


#integMedium {
	background: url(../images/index/chameleon2.jpg) no-repeat top center;
	min-height: 500px;
	background-size: cover;
	
}


	#sloganContainer {
	position: absolute;
	top: 3%;
	left: 50%;

	transform:translateX(-50%);
-ms-transform:translateX(-50%); /* IE */
-moz-transform:translateX(-50%); /* Firefox */
-webkit-transform:translateX(-50%); /* Safari and Chrome */
-o-transform:translateX(-50%); /* Opera */
	background-color: rgba(25,25,25,0.6);
	border-radius: 5px;
-webkit-box-shadow: 0px 17px 23px -14px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 17px 23px -14px rgba(0,0,0,0.45);
box-shadow: 0px 17px 23px -14px rgba(0,0,0,0.45);

}


.sloganItems {
	text-align: center;
	padding: 25px 10px 0 10px;

	h2 {
		color: #ffffff;
		margin-bottom: 10px;
		font-weight: 300;
		text-align: center;
	}
	h3 {
		a {
			margin-bottom: 0 !important;
		}

	}

}

#loginBtn {
	background-color: #fbb100;
	color: #fff;
}
#contact {
color: #333333;
}



header {
	background: url(../images/goldenSolution-1.jpg) #f5f6f7;
	background-size:cover;
	background-position:center top;
	position:absolute;
	height:100%;
	width:100%;
	h1 {
		color: #fff;
		font-weight:300;
		font-size:2.8rem;
		line-height:3rem;
		margin-bottom:15px;
	}

}

.navigation-section {
	padding-top:60px;
	.top-bar {
		z-index:100;
	}
}


	#pexaText {
	
		
			text-align: center;
		
	}

.main-section {
	padding:35px 0 0 0;
	margin-top:650px;	
}



#footer {
	padding: 35px 20px;
	background-color: #1e1e1e;
		color: #898989;

p {
		font-size: 0.8rem;
	}

	h5 {
color: #898989;
	}

}

#quickAccess {
	a {
		display: block;
		font-size: 0.9rem;
		margin-bottom: 5px;
		text-decoration: underline;

	}
}




#copyRight {
	a {
		font-size: 0.7rem;
	}
	p {
		font-size: 0.8rem;
	}
}

.contactMobileMenu {
	padding: 20px;
	color: #ffffff;
	a {
		display: block;
		margin-bottom: 10px;
	}
}
h1.title {
	color: #1c89a7 !important;
}
@media (min-width: 1900px) {
	#sloganContainer {
		width: 30% !important;
		top: 5% !important;
		border-radius: 5px;
		left: 50% !important;

	}
}
@media (max-width: 1024px) {

.bodyContent {
    -webkit-columns:  1 !important; /* Chrome, Safari, Opera */
    -moz-columns:  1 !important;/* Firefox */
    columns: 1 !important;
}




.inner-wrap {
	height: 100%;
}
	
.testimonialItems {
		margin-top:0 !important;
}
#sloganContainer {
	h2 {
		font-size: 1.8rem;
		line-height: 1.8rem;

	}
}

}


	.chameleonQoutes-medium-1 {
		position: absolute;
		font-size:2.1rem !important;
		line-height:2rem !important;
		color: #fff;
		padding: 20px;
		padding-top:100px;
		text-transform: uppercase;
		text-shadow: 2px 2px #000000;	
		
		
	}

	.chameleonQoutes-medium-2	{
		position: absolute;
		font-size:1.2rem !important;
		line-height:1.3rem !important;
		color: #fff;
		padding: 20px;
		font-weight:400;
		top:200px !important;
		
		.button {
			margin-top:30px;
		}
		
	}
	
	#pexaLogo {
		margin-bottom:30px !important;
	
	}
	
@media (max-width: 640px) {

.linkItems {
		padding:10px 30px 0px 15px;
	h5 {
		font-size: 0.8rem;
		padding-right: 45px;
	}

}

		#buttonAll {
				margin-bottom: 15px !important;
	}
	header {
		height: 400px !important;
	}
	#pexaLogo {
		margin-bottom:30px !important;
	}
	
	.chameleonQoutes-medium-1 {
		padding-top:60px;

	}
	.chameleonQoutes-medium-2	{

		top:220px !important;
		
	}
		#sloganContainer {
			border-radius: 5px;
			padding-top: 1rem;

			h2 {
				font-size: 1.2rem;
			}
			a {
				font-size: 0.8rem;
			}

	top: 1.2%;


}
.main-section {
	margin-top:500px;	
}

#awards {
	padding: 40px 20px;

	h2 {
		text-align: center;
		margin-bottom: 40px;
		font-size: 1.2rem;
	}
}

.th {

	img {
	    -webkit-filter: blur(0px) !important; 
}


}
}

@media (max-width: 1280px) and (min-width: 1024px) {

	.chameleonQoutes1 {
		position: absolute;
		font-size:2.1rem !important;
		line-height:2rem !important;
		color: #fff;
		padding: 20px;

		text-transform: uppercase;
		text-shadow: 2px 2px #000000;	
		
		
	}


	.chameleonQoutes2	{
		position: absolute;
		font-size:1.2rem !important;
		line-height:1.4rem !important;
		color: #fff;
		padding: 20px;
		font-weight: 300;
		top:120px !important;
		z-index: 14 !important;
		
		.button {
			margin-top:30px;
		}
		
	}



}

@media (min-width: 40.063em) {

	#awards {
		padding: 80px 20px;
		h2 {
			text-align: center;
			margin-bottom: 40px;
		}
			hr {
		margin-bottom: 40px;
	}


	}
#footer {
	padding: 35px 20px;
	background-color: #1e1e1e;
	color: #898989;


	h5 {
color: #898989;
	}
}

.services-section {
	position: relative;
}
#testimonialTitle {
	position: absolute;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2rem;
	text-align: left;
	padding-right: 30px;
	color: #fff;
	top: 50%;
	left: 28%;
	width: 10em;


}
.sloganItems {
	text-align: center;
	padding: 40px 30px 0 30px;

	h2 {
		color: #ffffff;
		font-size: 2.5rem;
		line-height: 2.9rem;
		font-weight: 300;
		margin-bottom: 20px;

	}
}
	#sloganContainer {
	position: absolute;
	top: 3%;
	left: 50%;
	width: 55%;

	transform: translate(-50%,0);
	background-color: rgba(25,25,25,0.6);
	border-radius: 5px;
	-webkit-box-shadow: 0px 17px 23px -14px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 17px 23px -14px rgba(0,0,0,0.45);
box-shadow: 0px 17px 23px -14px rgba(0,0,0,0.45);

}
	#pexaText {
	
		
			text-align: left;
		
	}

.chameleonContent {

	.chameleonQoutes1 {
		position: absolute;
		font-size:3rem;
		line-height:3rem;
		color: #fff;
		padding: 20px;
		text-transform: uppercase;
		text-shadow: 2px 2px #000000;	
		z-index: 10 !important;
		
		
	}

	.chameleonQoutes2	{
		position: absolute;
		font-size:1.5rem;
		line-height:1.6rem;
		color: #fff;
		padding: 10px;
		top:180px;
		z-index: 10 !important;
		
		.button {
			margin-top:30px;
		}
		
	}


}


	header {
		.logo {
			background-color:rgba(25,150,183,0.4);
			padding:20px;
			margin-top:30%;
			z-inedx:108;
		}
	}
	.top-bar-section {
		li  {
		   a {
			line-height:80px;
		   }
		}
		
	}
	.dropdown-level-1 {
		background-color:rgba(255,255,255,0.9) !important;
		box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.18);
		li:hover {
			background-color:#fbb100;	
		}
		li:hover > a {
			color: #FFF !important;
			font-weight:400;
		}
		li {
			a {
				color:#333 !important;
				font-size:0.8rem !important;
				-moz-transition: .2s ease-in;
				-o-transition: .2s ease-in;
				-webkit-transition: .2s ease-in;
				transition: .2s ease-in;
				line-height:50px !important;
			}
			a:hover {
				line-height:65px !important;
				color: #FFF !important;
				font-weight:400;
			}
		}

	}

	.dropdown-level-2 {
		background-color:rgba(255,255,255,0.9) !important;
		box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.3);
		li:hover {
			background-color: #e8e8e8 !important;
		}	
		li:hover > a {
			background-color: #e8e8e8 !important;
			color: #333333 !important;
		}		
		li {
			a {
				line-height:45px !important;
				height:45px !important;
			}
			a:hover {
				line-height:45px !important;
				background-color: #e8e8e8 !important;
				color: #333333 !important;
			}
		}

		
	}

}