/* line 2, ../scss/customPages.scss */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #aabcfe;
  margin: 0px auto;
}

/* line 3, ../scss/customPages.scss */
.tg td {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #aabcfe;
  color: #669;
  background-color: #e8edff;
}

/* line 4, ../scss/customPages.scss */
.tg th {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #aabcfe;
  color: #039;
  background-color: #b9c9fe;
  text-align: left;
}

/* line 6, ../scss/customPages.scss */
#pages-content {
  margin-top: 8em;
}

/* line 10, ../scss/customPages.scss */
.accordion dd.active a {
  background: #0e5a6f;
  color: #ffffff;
}

/* line 17, ../scss/customPages.scss */
.accordion dd > a {
  background-color: #187993;
  color: #f5f6f7;
  border-radius: 6px;
}

/* line 23, ../scss/customPages.scss */
.accordion dd > a:hover {
  color: #ffffff;
  background-color: #FBB169;
}

/* line 29, ../scss/customPages.scss */
.eventCards-links .eventCards {
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  color: #333333;
  font-size: 0.8rem;
  padding: 0.4rem;
  min-height: 200px;
}
/* line 40, ../scss/customPages.scss */
.eventCards-links .eventCards p {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
/* line 46, ../scss/customPages.scss */
.eventCards-links .eventCards img {
  margin-bottom: 0.8rem;
}
/* line 52, ../scss/customPages.scss */
.eventCards-links .timeDate {
  text-align: center;
  background-color: #f5f6f7;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  color: #333333;
  font-size: 0.8rem;
  padding: 0.8rem 0.4rem;
}

/* line 67, ../scss/customPages.scss */
.eventCards-links:hover .eventCards {
  background-color: #f5f6f7;
}
/* line 73, ../scss/customPages.scss */
.eventCards-links:hover .timeDate {
  background-color: #FBB169;
  color: #ffffff;
}

/* line 79, ../scss/customPages.scss */
.accordion .content.active {
  background-color: #E9E9E9;
  border-radius: 6px;
}

/* line 86, ../scss/customPages.scss */
.accordion .content {
  padding: 2rem;
  border-radius: 6px;
}

/* line 92, ../scss/customPages.scss */
header {
  height: 450px;
  background: url(../images/pages/property_searches/property_searches_hero_image.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}

/* line 98, ../scss/customPages.scss */
#testTable {
  background-color: transparent;
  border: none;
}

/* line 102, ../scss/customPages.scss */
#integration-selected {
  background: url(../images/pages/integration/integration_image.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}

/* line 108, ../scss/customPages.scss */
#pages-hero-text {
  padding-top: 60px;
}
/* line 110, ../scss/customPages.scss */
#pages-hero-text h1 {
  color: #10718b;
  font-weight: 300;
  line-height: 3rem;
}

/* line 117, ../scss/customPages.scss */
.is-sticky #breadcrumbs-section {
  margin-top: 0 !important;
  z-index: 90;
}

/* line 122, ../scss/customPages.scss */
#breadcrumbs-section {
  margin-top: 100px;
  background-color: #187993;
}

/* line 126, ../scss/customPages.scss */
.breadcrumbs {
  background-color: #0e5a6f;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

/* line 132, ../scss/customPages.scss */
.each-section {
  min-height: 350px;
  padding: 35px 20px;
  border-bottom: #dbdbdb solid thin;
}

/* line 137, ../scss/customPages.scss */
.bigCTA {
  text-align: center;
  text-transform: uppercase;
  background-color: #333333;
  color: #fff;
  font-weight: 300;
  width: 100%;
}

/* line 145, ../scss/customPages.scss */
.each-section.CTA {
  text-align: center;
  min-height: 100px;
  padding: 35px 20px;
  background-color: #187993;
}
/* line 150, ../scss/customPages.scss */
.each-section.CTA h3 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

/* line 157, ../scss/customPages.scss */
.pages-title-image {
  min-height: 200x;
  text-align: center;
}
/* line 160, ../scss/customPages.scss */
.pages-title-image img {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* line 166, ../scss/customPages.scss */
.pages-body-content h2, .pages-body-content h3, .pages-title-image h2, .pages-title-image h3 {
  font-weight: 300;
  margin-bottom: 0;
  text-align: left;
}
/* line 171, ../scss/customPages.scss */
.pages-body-content p, .pages-title-image p {
  text-align: left;
}
/* line 174, ../scss/customPages.scss */
.pages-body-content h2, .pages-title-image h2 {
  color: #1586a5;
  margin-bottom: 15px;
}
/* line 178, ../scss/customPages.scss */
.pages-body-content h3, .pages-title-image h3 {
  color: #9f9f9f;
  margin-top: -10px;
}

/* line 183, ../scss/customPages.scss */
#selected-body-section {
  background: url(../images/pages/property_searches/fullwidth-lower-bg.png) no-repeat bottom center;
}

/* line 187, ../scss/customPages.scss */
#selected-body-section-events {
  background: url(../images/pages/property_searches/fullwidth-lower-bg.png) no-repeat bottom center;
  background-color: #eaf3fa;
}

/* line 193, ../scss/customPages.scss */
.block-system h2 {
  text-align: center;
  font-weight: 300;
  color: #0796b7;
}
/* line 198, ../scss/customPages.scss */
.block-system p {
  text-align: center;
}

/* line 204, ../scss/customPages.scss */
#blocks li h6 {
  font-weight: bold;
  margin-top: 10px;
  color: #27608d;
}
/* line 209, ../scss/customPages.scss */
#blocks li p {
  font-size: 0.8rem;
  text-align: left;
}

/* line 216, ../scss/customPages.scss */
.pages a {
  display: block;
  padding: 8px 8px;
}
/* line 220, ../scss/customPages.scss */
.pages a:not(.button):before {
  content: "> ";
}
/* line 223, ../scss/customPages.scss */
.pages a:hover {
  background-color: #f5f6f7;
}
/* line 226, ../scss/customPages.scss */
.pages #REVEALPromo:before {
  content: "" !important;
}

/* line 231, ../scss/customPages.scss */
.pages.small-section {
  margin-bottom: 15px;
}

/* line 234, ../scss/customPages.scss */
.featureItems {
  text-align: center;
}
/* line 236, ../scss/customPages.scss */
.featureItems h5 {
  text-transform: uppercase;
  color: #006;
}
/* line 240, ../scss/customPages.scss */
.featureItems img {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 249, ../scss/customPages.scss */
.featureItems img:hover {
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  /* Chrome, Safari, Opera */
  transform: rotateY(180deg);
}

/* line 255, ../scss/customPages.scss */
select.startSearchingSelect {
  height: 12rem;
  width: 100%;
}

/* line 262, ../scss/customPages.scss */
#integrationBlocks li a img {
  width: 150px;
  height: 150px;
}

/* line 271, ../scss/customPages.scss */
#allIndustriesBlocks li {
  text-align: center;
}
/* line 273, ../scss/customPages.scss */
#allIndustriesBlocks li P {
  text-align: center;
  font-size: 0.8rem;
  background-color: #f5f6f7;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 282, ../scss/customPages.scss */
.date {
  background: #fbb100;
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* line 290, ../scss/customPages.scss */
.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
/* line 293, ../scss/customPages.scss */
.post a {
  display: block;
  margin-bottom: 10px;
  margin-top: 4px;
}

/* line 300, ../scss/customPages.scss */
#eventscenter {
  padding-top: 30px;
  -webkit-box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, inset 12px 0 15px -4px rgba(25, 25, 25, 0.4), inset -12px 0 15px -4px rgba(25, 25, 25, 0.4);
  -moz-box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, inset 12px 0 15px -4px rgba(25, 25, 25, 0.4), inset -12px 0 15px -4px rgba(25, 25, 25, 0.4);
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, inset 12px 0 15px -4px rgba(25, 25, 25, 0.4), inset -12px 0 15px -4px rgba(25, 25, 25, 0.4);
}

/* line 307, ../scss/customPages.scss */
.timeline_title {
  color: #fbb169;
  font-size: 18px !important;
  margin: 0;
  font-weight: normal;
}

/* line 313, ../scss/customPages.scss */
.thumbnail {
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 7px 11px -7px rgba(50, 50, 50, 0.57);
  -moz-box-shadow: 0px 7px 11px -7px rgba(50, 50, 50, 0.57);
  box-shadow: 0px 7px 11px -7px rgba(50, 50, 50, 0.57);
}

/* line 325, ../scss/customPages.scss */
.thumbnail:hover {
  -webkit-box-shadow: 0px 15px 11px -7px rgba(50, 50, 50, 0.57);
  -moz-box-shadow: 0px 15px 11px -7px rgba(50, 50, 50, 0.57);
  box-shadow: 0px 15px 11px -7px rgba(50, 50, 50, 0.57);
}

/* line 332, ../scss/customPages.scss */
.leadership p {
  font-size: 0.8rem;
}
/* line 335, ../scss/customPages.scss */
.leadership img {
  margin-bottom: 15px;
}
/* line 338, ../scss/customPages.scss */
.leadership h6 {
  color: #0e5a6f;
  margin-bottom: 0.1rem;
}
/* line 342, ../scss/customPages.scss */
.leadership span {
  display: block;
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}

@media (max-width: 640px) {
  /* line 350, ../scss/customPages.scss */
  #pages-hero-text {
    padding-top: 10px;
  }
  /* line 352, ../scss/customPages.scss */
  #pages-hero-text h1 {
    color: #10718b;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 500;
  }

  /* line 361, ../scss/customPages.scss */
  #first {
    margin-top: 80px;
  }
}
