/* line 1, ../scss/style.scss */
body, h1, h2, h3, h4, h5, p, div, li, ul, a, span {
  font-family: 'lato',sans-serif;
}

/* line 4, ../scss/style.scss */
#bookoftestimonials {
  background: url(../images/book1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 11, ../scss/style.scss */
.loginFormLables {
  color: #FFF;
}
/* line 12, ../scss/style.scss */
.loginFormLables input {
  margin-top: 10px;
}

/* line 19, ../scss/style.scss */
#login-Tab-bar {
  right: 4.0625rem;
}

/* line 22, ../scss/style.scss */
#loginDropdown {
  border: #fbb100 solid 2px;
}

/* line 25, ../scss/style.scss */
.middle.tab-bar-section {
  text-align: left;
}

/* line 28, ../scss/style.scss */
#Username {
  margin-bottom: 15px;
}

/* line 31, ../scss/style.scss */
.SEOContent {
  text-align: center;
}
/* line 34, ../scss/style.scss */
.SEOContent li p {
  font-size: 0.7rem;
  line-height: 1rem;
}

/* line 40, ../scss/style.scss */
#InvalidLogin2 {
  text-align: center;
  display: block;
  visibility: hidden;
  background-color: #f00 !important;
  padding: 4px 6px;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #ffffff;
}

/* line 55, ../scss/style.scss */
#myModal form {
  margin-top: 30px;
}

/* line 59, ../scss/style.scss */
#floatdiv {
  position: fixed;
  width: 260px;
  z-index: 120;
  background-color: rgba(25, 25, 25, 0.6);
  padding: 30px 15px;
  right: 20px;
  color: #FFF;
  height: 18em;
  border-radius: 8px;
  margin-top: 140px;
}
/* line 70, ../scss/style.scss */
#floatdiv button {
  margin-top: -0.3rem;
}
/* line 74, ../scss/style.scss */
#floatdiv #InvalidLogin {
  text-align: center;
  display: block;
  background-color: #f00;
  padding: 4px 6px;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
  visibility: hidden;
  font-size: 0.8rem;
}

/* line 88, ../scss/style.scss */
.top-bar-section .nav-level-1 > a {
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}
/* line 94, ../scss/style.scss */
.top-bar-section .nav-level-1 > a:hover {
  color: #FFF;
  padding: 0 18.33333px;
  font-size: 16px;
}
/* line 99, ../scss/style.scss */
.top-bar-section .nav-level-1:hover {
  background-color: #1d96b7;
}
/* line 101, ../scss/style.scss */
.top-bar-section .nav-level-1:hover a {
  color: #FFF;
  padding: 0 35px 0 10px !important;
  font-size: 16px;
}
/* line 108, ../scss/style.scss */
.top-bar-section .dropdown label {
  padding-left: 0;
}
/* line 112, ../scss/style.scss */
.top-bar-section .dropdown fieldset {
  border: none;
  padding-top: 0;
}
/* line 115, ../scss/style.scss */
.top-bar-section .dropdown fieldset .passwordLabel {
  margin-top: 14px;
}

/* line 124, ../scss/style.scss */
#copyRight2 {
  padding: 20px 20px;
}
/* line 127, ../scss/style.scss */
#copyRight2 p {
  color: #ccc;
  margin-bottom: 0;
  font-size: 13px;
}

/* line 135, ../scss/style.scss */
#skrollr-body {
  height: 100%;
  position: relative;
}

/* line 141, ../scss/style.scss */
.skrollr-desktop body {
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
}

/* line 147, ../scss/style.scss */
.th {
  box-shadow: none;
  border: none;
  text-align: center;
}
/* line 153, ../scss/style.scss */
.th img {
  -moz-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
  -webkit-filter: blur(3px);
}
/* line 162, ../scss/style.scss */
.th P {
  font-size: 0.93rem;
  line-height: 1.2rem;
}

/* line 172, ../scss/style.scss */
.th:hover {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
/* line 177, ../scss/style.scss */
.th:hover img {
  -webkit-filter: blur(0px);
}

/* line 185, ../scss/style.scss */
.right li a {
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}
/* line 191, ../scss/style.scss */
.right li a:hover {
  background-color: #fff;
  color: #333333;
}
/* line 196, ../scss/style.scss */
.right li:hover {
  background-color: #ffffff !important;
}
/* line 198, ../scss/style.scss */
.right li:hover a {
  background-color: #ffffff;
}
/* line 202, ../scss/style.scss */
.right .dropdown {
  box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.18);
  width: 20em !important;
  background-color: #fff !important;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 210, ../scss/style.scss */
.right .login {
  line-height: 20px;
  background-color: #1d96b7 !important;
  margin-top: 15px !important;
}
/* line 215, ../scss/style.scss */
.right .login:hover {
  background-color: #187690 !important;
  color: #fff;
}

/* line 220, ../scss/style.scss */
.newsAndEvents {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3fcff;
}
/* line 225, ../scss/style.scss */
.newsAndEvents h2 {
  display: inline-block;
}

/* line 231, ../scss/style.scss */
#buttonAll {
  margin-bottom: 0 !important;
  margin-top: 15px;
}

/* line 237, ../scss/style.scss */
.integ {
  background: url(../images/index/noChameleon.jpg) no-repeat;
  background-size: cover;
}
/* line 240, ../scss/style.scss */
.integ #chameleon {
  height: auto;
  z-index: -10 !important;
  width: 100% !important;
}

/* line 249, ../scss/style.scss */
.bodyContent {
  -webkit-columns: 2;
  /* Chrome, Safari, Opera */
  -moz-columns: 2;
  /* Firefox */
  columns: 2;
}
/* line 253, ../scss/style.scss */
.bodyContent p {
  font-size: 0.9rempx;
}
/* line 259, ../scss/style.scss */
.bodyContent #bodyList li {
  font-size: 0.9rem !important;
}

/* line 265, ../scss/style.scss */
.bodyText {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f5f6f7 !important;
  background: url(../images/index/australia-map.png) no-repeat;
  background-size: contain;
  background-position: center center;
  min-height: 450px;
  margin-top: 5rem;
  border-bottom: #ccc solid thin;
  -webkit-box-shadow: inset 0px 4px 10px -5px rgba(50, 50, 50, 0.39);
  -moz-box-shadow: inset 0px 4px 10px -5px rgba(50, 50, 50, 0.39);
  box-shadow: inset 0px 4px 10px -5px rgba(50, 50, 50, 0.39);
}

/* line 281, ../scss/style.scss */
#news-tiny-more {
  position: absolute;
  right: 0;
  bottom: -20px;
}

/* line 287, ../scss/style.scss */
.newsItems {
  position: relative;
  background-color: #fff;
  min-height: 150px;
  padding: 10px 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}
/* line 288, ../scss/style.scss */
.newsItems h3, .newsItems h5 {
  color: #0796b7;
}

/* line 309, ../scss/style.scss */
.linkItems {
  position: relative;
  line-height: 1rem;
  color: #000;
  background-color: #fff;
  min-height: 50px;
  padding: 10px 30px 0px 30px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 8px;
}
/* line 326, ../scss/style.scss */
.linkItems a {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -17px;
}
/* line 332, ../scss/style.scss */
.linkItems h5 {
  font-size: 1.1rem;
  display: inline-block;
  padding-right: 50px;
}

/* line 339, ../scss/style.scss */
.newsItems:hover {
  cursor: pointer;
  background-color: #f5f6f7;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

/* line 347, ../scss/style.scss */
.linkItems:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

/* line 355, ../scss/style.scss */
.newsItems.mediumLevel p {
  font-size: 0.9rem;
}

/* line 364, ../scss/style.scss */
#eventItems h4 {
  margin-top: 30px;
  font-size: 1.2rem !important;
  font-weight: bold;
}

/* line 372, ../scss/style.scss */
.eventItems-event-page h4 {
  margin-top: 30px;
  font-size: 1.2rem !important;
  font-weight: bold;
}

/* line 380, ../scss/style.scss */
#mouseScroll {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -11px;
  z-index: 160;
}

/* line 388, ../scss/style.scss */
#ieText {
  position: fixed;
  bottom: 60px !important;
  padding: 20px 30px;
  color: #ff0000;
  text-align: center;
  z-index: 100;
  display: compact;
  width: 48rem;
}
/* line 398, ../scss/style.scss */
#ieText h1 {
  text-align: center;
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4px 25px;
  border-radius: 4px;
}

/* line 409, ../scss/style.scss */
#ieScroll {
  position: fixed;
  bottom: 140px !important;
  padding: 20px 30px;
  color: #ff0000;
  text-align: center;
  z-index: 100;
  left: 50%;
  margin-left: -200px;
}

/* line 421, ../scss/style.scss */
.unu, .doi, .trei {
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 6px;
}

/* line 435, ../scss/style.scss */
.unu {
  margin-top: 6px;
}

/* line 440, ../scss/style.scss */
.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

/* line 446, ../scss/style.scss */
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

/* line 453, ../scss/style.scss */
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

/* line 460, ../scss/style.scss */
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

/* line 470, ../scss/style.scss */
.mouse {
  height: 32px;
  width: 22px;
  border-radius: 10px;
  transform: none;
  border: 2px solid black;
  top: 170px;
  background-color: #e4e4e4;
}

/* line 481, ../scss/style.scss */
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: black;
  position: relative;
}

/* line 491, ../scss/style.scss */
.wheel {
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  50% {
    top: 2px;
  }
  100% {
    top: 3px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
/* line 549, ../scss/style.scss */
#widgets h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

/* line 556, ../scss/style.scss */
.owl {
  padding-top: 30px;
  padding-bottom: 120px;
  border-bottom: #cdcdcd solid thin;
}
/* line 557, ../scss/style.scss */
.owl #owlBird {
  margin-bottom: 40px;
}

/* line 567, ../scss/style.scss */
#pexaText span {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 20px;
}

/* line 575, ../scss/style.scss */
.services-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #267286;
}

/* line 581, ../scss/style.scss */
.testimonialItems {
  padding: 30px 40px;
  text-align: left;
  background-color: #ffffff;
  min-height: 435px;
}
/* line 583, ../scss/style.scss */
.testimonialItems p {
  font-size: 0.8rem;
  text-align: left;
}
/* line 587, ../scss/style.scss */
.testimonialItems span {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

/* line 597, ../scss/style.scss */
#lastPage {
  padding-left: 40%;
}

/* line 602, ../scss/style.scss */
#flipbook {
  left: 50%;
  margin-left: -450px;
}

/* line 607, ../scss/style.scss */
.testimonial-mobile {
  background-color: #1d96b7;
}
/* line 609, ../scss/style.scss */
.testimonial-mobile h2 {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 617, ../scss/style.scss */
#integMedium {
  background: url(../images/index/chameleon2.jpg) no-repeat top center;
  min-height: 500px;
  background-size: cover;
}

/* line 625, ../scss/style.scss */
#sloganContainer {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  /* IE */
  -moz-transform: translateX(-50%);
  /* Firefox */
  -webkit-transform: translateX(-50%);
  /* Safari and Chrome */
  -o-transform: translateX(-50%);
  /* Opera */
  background-color: rgba(25, 25, 25, 0.6);
  border-radius: 5px;
  -webkit-box-shadow: 0px 17px 23px -14px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 17px 23px -14px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 17px 23px -14px rgba(0, 0, 0, 0.45);
}

/* line 644, ../scss/style.scss */
.sloganItems {
  text-align: center;
  padding: 25px 10px 0 10px;
}
/* line 648, ../scss/style.scss */
.sloganItems h2 {
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: center;
}
/* line 655, ../scss/style.scss */
.sloganItems h3 a {
  margin-bottom: 0 !important;
}

/* line 663, ../scss/style.scss */
#loginBtn {
  background-color: #fbb100;
  color: #fff;
}

/* line 667, ../scss/style.scss */
#contact {
  color: #333333;
}

/* line 673, ../scss/style.scss */
header {
  background: url(../images/goldenSolution-1.jpg) #f5f6f7;
  background-size: cover;
  background-position: center top;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 680, ../scss/style.scss */
header h1 {
  color: #fff;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3rem;
  margin-bottom: 15px;
}

/* line 690, ../scss/style.scss */
.navigation-section {
  padding-top: 60px;
}
/* line 692, ../scss/style.scss */
.navigation-section .top-bar {
  z-index: 100;
}

/* line 698, ../scss/style.scss */
#pexaText {
  text-align: center;
}

/* line 705, ../scss/style.scss */
.main-section {
  padding: 35px 0 0 0;
  margin-top: 650px;
}

/* line 712, ../scss/style.scss */
#footer {
  padding: 35px 20px;
  background-color: #1e1e1e;
  color: #898989;
}
/* line 717, ../scss/style.scss */
#footer p {
  font-size: 0.8rem;
}
/* line 721, ../scss/style.scss */
#footer h5 {
  color: #898989;
}

/* line 728, ../scss/style.scss */
#quickAccess a {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  text-decoration: underline;
}

/* line 741, ../scss/style.scss */
#copyRight a {
  font-size: 0.7rem;
}
/* line 744, ../scss/style.scss */
#copyRight p {
  font-size: 0.8rem;
}

/* line 749, ../scss/style.scss */
.contactMobileMenu {
  padding: 20px;
  color: #ffffff;
}
/* line 752, ../scss/style.scss */
.contactMobileMenu a {
  display: block;
  margin-bottom: 10px;
}

/* line 757, ../scss/style.scss */
h1.title {
  color: #1c89a7 !important;
}

@media (min-width: 1900px) {
  /* line 761, ../scss/style.scss */
  #sloganContainer {
    width: 30% !important;
    top: 5% !important;
    border-radius: 5px;
    left: 50% !important;
  }
}
@media (max-width: 1024px) {
  /* line 771, ../scss/style.scss */
  .bodyContent {
    -webkit-columns: 1 !important;
    /* Chrome, Safari, Opera */
    -moz-columns: 1 !important;
    /* Firefox */
    columns: 1 !important;
  }

  /* line 780, ../scss/style.scss */
  .inner-wrap {
    height: 100%;
  }

  /* line 784, ../scss/style.scss */
  .testimonialItems {
    margin-top: 0 !important;
  }

  /* line 788, ../scss/style.scss */
  #sloganContainer h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
/* line 798, ../scss/style.scss */
.chameleonQoutes-medium-1 {
  position: absolute;
  font-size: 2.1rem !important;
  line-height: 2rem !important;
  color: #fff;
  padding: 20px;
  padding-top: 100px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
}

/* line 811, ../scss/style.scss */
.chameleonQoutes-medium-2 {
  position: absolute;
  font-size: 1.2rem !important;
  line-height: 1.3rem !important;
  color: #fff;
  padding: 20px;
  font-weight: 400;
  top: 200px !important;
}
/* line 820, ../scss/style.scss */
.chameleonQoutes-medium-2 .button {
  margin-top: 30px;
}

/* line 826, ../scss/style.scss */
#pexaLogo {
  margin-bottom: 30px !important;
}

@media (max-width: 640px) {
  /* line 833, ../scss/style.scss */
  .linkItems {
    padding: 10px 30px 0px 15px;
  }
  /* line 835, ../scss/style.scss */
  .linkItems h5 {
    font-size: 0.8rem;
    padding-right: 45px;
  }

  /* line 842, ../scss/style.scss */
  #buttonAll {
    margin-bottom: 15px !important;
  }

  /* line 845, ../scss/style.scss */
  header {
    height: 400px !important;
  }

  /* line 848, ../scss/style.scss */
  #pexaLogo {
    margin-bottom: 30px !important;
  }

  /* line 852, ../scss/style.scss */
  .chameleonQoutes-medium-1 {
    padding-top: 60px;
  }

  /* line 856, ../scss/style.scss */
  .chameleonQoutes-medium-2 {
    top: 220px !important;
  }

  /* line 861, ../scss/style.scss */
  #sloganContainer {
    border-radius: 5px;
    padding-top: 1rem;
    top: 1.2%;
  }
  /* line 865, ../scss/style.scss */
  #sloganContainer h2 {
    font-size: 1.2rem;
  }
  /* line 868, ../scss/style.scss */
  #sloganContainer a {
    font-size: 0.8rem;
  }

  /* line 876, ../scss/style.scss */
  .main-section {
    margin-top: 500px;
  }

  /* line 880, ../scss/style.scss */
  #awards {
    padding: 40px 20px;
  }
  /* line 883, ../scss/style.scss */
  #awards h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
  }

  /* line 892, ../scss/style.scss */
  .th img {
    -webkit-filter: blur(0px) !important;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  /* line 902, ../scss/style.scss */
  .chameleonQoutes1 {
    position: absolute;
    font-size: 2.1rem !important;
    line-height: 2rem !important;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
  }

  /* line 916, ../scss/style.scss */
  .chameleonQoutes2 {
    position: absolute;
    font-size: 1.2rem !important;
    line-height: 1.4rem !important;
    color: #fff;
    padding: 20px;
    font-weight: 300;
    top: 120px !important;
    z-index: 14 !important;
  }
  /* line 926, ../scss/style.scss */
  .chameleonQoutes2 .button {
    margin-top: 30px;
  }
}
@media (min-width: 40.063em) {
  /* line 938, ../scss/style.scss */
  #awards {
    padding: 80px 20px;
  }
  /* line 940, ../scss/style.scss */
  #awards h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  /* line 944, ../scss/style.scss */
  #awards hr {
    margin-bottom: 40px;
  }

  /* line 950, ../scss/style.scss */
  #footer {
    padding: 35px 20px;
    background-color: #1e1e1e;
    color: #898989;
  }
  /* line 956, ../scss/style.scss */
  #footer h5 {
    color: #898989;
  }

  /* line 961, ../scss/style.scss */
  .services-section {
    position: relative;
  }

  /* line 964, ../scss/style.scss */
  #testimonialTitle {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
    padding-right: 30px;
    color: #fff;
    top: 50%;
    left: 28%;
    width: 10em;
  }

  /* line 978, ../scss/style.scss */
  .sloganItems {
    text-align: center;
    padding: 40px 30px 0 30px;
  }
  /* line 982, ../scss/style.scss */
  .sloganItems h2 {
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 2.9rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  /* line 991, ../scss/style.scss */
  #sloganContainer {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 55%;
    transform: translate(-50%, 0);
    background-color: rgba(25, 25, 25, 0.6);
    border-radius: 5px;
    -webkit-box-shadow: 0px 17px 23px -14px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 17px 23px -14px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 17px 23px -14px rgba(0, 0, 0, 0.45);
  }

  /* line 1005, ../scss/style.scss */
  #pexaText {
    text-align: left;
  }

  /* line 1014, ../scss/style.scss */
  .chameleonContent .chameleonQoutes1 {
    position: absolute;
    font-size: 3rem;
    line-height: 3rem;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
    z-index: 10 !important;
  }
  /* line 1027, ../scss/style.scss */
  .chameleonContent .chameleonQoutes2 {
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: #fff;
    padding: 10px;
    top: 180px;
    z-index: 10 !important;
  }
  /* line 1036, ../scss/style.scss */
  .chameleonContent .chameleonQoutes2 .button {
    margin-top: 30px;
  }

  /* line 1047, ../scss/style.scss */
  header .logo {
    background-color: rgba(25, 150, 183, 0.4);
    padding: 20px;
    margin-top: 30%;
    z-inedx: 108;
  }

  /* line 1056, ../scss/style.scss */
  .top-bar-section li a {
    line-height: 80px;
  }

  /* line 1062, ../scss/style.scss */
  .dropdown-level-1 {
    background-color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.18);
  }
  /* line 1065, ../scss/style.scss */
  .dropdown-level-1 li:hover {
    background-color: #fbb100;
  }
  /* line 1068, ../scss/style.scss */
  .dropdown-level-1 li:hover > a {
    color: #FFF !important;
    font-weight: 400;
  }
  /* line 1073, ../scss/style.scss */
  .dropdown-level-1 li a {
    color: #333 !important;
    font-size: 0.8rem !important;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    line-height: 50px !important;
  }
  /* line 1082, ../scss/style.scss */
  .dropdown-level-1 li a:hover {
    line-height: 65px !important;
    color: #FFF !important;
    font-weight: 400;
  }

  /* line 1091, ../scss/style.scss */
  .dropdown-level-2 {
    background-color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.3);
  }
  /* line 1094, ../scss/style.scss */
  .dropdown-level-2 li:hover {
    background-color: #e8e8e8 !important;
  }
  /* line 1097, ../scss/style.scss */
  .dropdown-level-2 li:hover > a {
    background-color: #e8e8e8 !important;
    color: #333333 !important;
  }
  /* line 1102, ../scss/style.scss */
  .dropdown-level-2 li a {
    line-height: 45px !important;
    height: 45px !important;
  }
  /* line 1106, ../scss/style.scss */
  .dropdown-level-2 li a:hover {
    line-height: 45px !important;
    background-color: #e8e8e8 !important;
    color: #333333 !important;
  }
}
